@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #ffffff;
    --black: #000000;
    --blue: #4462f4;
    --complement: #f4d644;
    --off-white: #f4f4f4;
    --off-black: #2b2f32;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--off-white);
    min-width: 360px;
}

.feat-img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/* new styles added */
.swiper-button {
    display: flex;
    position: absolute;
    top: calc(50% - 50px);
    z-index: 10;
    cursor: pointer;
}

.swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
}

@media (max-width: 639px) {
    .swiper-pagination {
        position: relative !important;
        margin-top: 15px !important;
    }
}
