@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white : #ffffff; 
    --black : #000000; 
    --blue : #4462F4; 
    --complement : #F4D644; 
    --off-white : #f4f4f4; 
    --off-black : #2B2F32; 
}

* {
    margin : 0; 
    padding : 0; 
    box-sizing: border-box;
}


body {
    background: var(--off-white);
    min-width: 360px;
}